@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Local font */
  @font-face {
    font-family: Ubuntu Mono;
    font-weight: 400;
    src: local('Ubuntu Mono'), url(/fonts/UbuntuMono-Regular.ttf);
    font-display: swap;
  }

  @font-face {
    font-family: Major;
    font-weight: 400;
    src: local('Major'), url(/fonts/MajorMonoDisplay-Regular.ttf);
    font-display: swap;
  }

  :root{
    /* color text */
    --color-text-base: #101010;
    --color-text-base-sub: #202020;
    --color-text-muted: #707070;
    --color-text-inverted: #FFFFFF;
    --color-text-inverted-sub: #dfdfdf;

    /* color background */
    --color-bg-primary: #101010;
    --color-bg-primary-sub: #202020;
    --color-bg-secondary: #FFFFFF;
    --color-bg-secondary-sub: #dfdfdf;
    --color-bg-third: #707070;
    --color-bg-third-sub: #efefef;

    /* color optional */
    --color-bg-white: rgba(255, 255, 255, 1);
    --color-bg-black: rgba(0, 0, 0, .5);
    --color-bg-alpha: rgba(0, 0, 0, .1);
    --color-bg-light: #FFDB63;
    --color-bg-light-sub: #FFF5D3;


    --col-particle:#8f8f8f; 
    --col-particle-stroke:#9f9f9f;
    --col-particle-stroke-hover: #606060; 
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }

}

@layer components {

  /* ROOT BASES */
  .text-small{
    @apply lg:text-sm text-xs;
  }

  .text-normal{
    @apply lg:text-base text-sm; 
  }

  .text-title{
    @apply xl:text-4xl lg:text-2xl md:text-xl text-lg; 
  }

  .text-subtitle{
    @apply xl:text-2xl lg:text-xl md:text-lg text-base; 
  }

  .text-slogan{
    @apply lg:text-lg sm:text-sm text-base; 
  }

  .text-icon{
    @apply lg:text-base md:text-sm sm:text-xs text-sm;
  }

  .text-btn{
    @apply lg:text-base md:text-sm text-xs;
  }

  .bg-text{
    @apply font-bold underline underline-offset-4 decoration-skin-third;
    @apply bg-clip-text text-transparent bg-gradient-to-r from-skin-primary-sub to-skin-third; 
  }


  .btn {
    @apply px-1 lg:px-2 py-0 text-btn;
  }

  .btn-icon{
    @apply px-2 py-[2px] lg:px-2 lg:py-0 text-icon;
  }


  .btn-filled{
    @apply relative overflow-hidden transition border border-skin-primary text-skin-secondary;
  }

  .btn-filled::after{
    content: '';
    @apply absolute -z-20 inset-0 bg-skin-primary-sub;
  }

  .btn-filled::before{
    content: '';
    @apply absolute -z-10 inset-0 transition transform ease-in duration-200 bg-skin-primary;
  }

  .btn-filled::before{
    @apply translate-y-[100%] -translate-x-[110%] scale-110;
  }

  .btn-filled:hover::before{
    @apply translate-y-0 translate-x-0;
  }

  .btn-filled:hover{
    box-shadow: 4px 4px 0px 0px var(--color-bg-third);
    @apply text-skin-secondary; 
  }


  .btn-outline {
    @apply relative overflow-hidden transition border border-skin-primary;
  }

  .btn-outline::after{
    content: '';
    @apply absolute -z-20 inset-0 bg-skin-secondary;
  }

  .btn-outline::before{
    content: '';
    @apply absolute -z-10 inset-0 transition transform ease-in  duration-200 bg-skin-primary-sub;
  }

  .btn-outline::before{
    @apply translate-y-[100%] -translate-x-[110%] scale-110;
  }

  .btn-outline:hover::before,
  .btn-outline.active::before {
    @apply translate-y-0 translate-x-0;
  }

  .btn-outline:hover, 
  .btn-outline.active {
    box-shadow: 4px 4px 0px 0px var(--color-bg-third);
    @apply text-skin-secondary; 
  }


  .btn-theme {
    @apply relative p-0 inline-flex border border-skin-primary;
  }

  .btn-theme::after{
    content: '';
    @apply absolute -z-20 inset-0 bg-skin-secondary; 
  }

  .btn-theme > span {
    @apply relative btn-icon transition duration-500 w-full h-full; 
  }

  .btn-theme::before{
    content: '';
    @apply absolute -z-10 transition-transform ease-in-out inset-0 bg-skin-primary-sub w-1/2; 
  }

  .btn-theme:not(.active) > span:nth-child(1){
    box-shadow: -4px 4px 0px 0px var(--color-bg-third);
    @apply cursor-default text-skin-secondary; 
  }

  .btn-theme.active > span:nth-child(1){
    @apply cursor-pointer text-skin-primary; 
  }

  .btn-theme.active::before{
    @apply translate-x-full;
  }

  .btn-theme.active > span:nth-child(2) {
    box-shadow: 4px 4px 0px 0px var(--color-bg-third);
    @apply cursor-default text-skin-secondary; 
  }


  /* LOADER */
  .loader{
    @apply animate-slide bg-gradient-to-r from-skin-primary via-skin-via-third to-skin-primary bg-full; 
  }


  /* APP COMPONENT */
  .box-intro-element{
    @apply fixed z-50 h-screen pointer-events-none inset-0 overflow-y-hidden;
  }
  .box-intro{
    @apply h-1/2 opacity-0 transition-visible-out ease-out;
  }

  .intro-content{
    @apply h-screen relative opacity-0 transition-opacity ease-out;
  }

  .content-main{
    @apply flex justify-center;
  }

  /* NAV COMPONENT */
  .nav{
    @apply fixed inset-x-0 top-0 mx-[5%] sm:mx-[6.5%] px-4 sm:px-8 py-3 lg:py-4 flex justify-between items-center border-skin-third border-b z-50;
  }

  .nav::after{
    content: '';
    /* @apply absolute transition-height ease-in-out py-3 lg:py-4 -z-30 inset-0 w-full h-0 bg-skin-secondary; */
    @apply absolute transition-height ease-in-out -z-30 inset-0 w-full h-0 bg-skin-secondary;
    @apply border-x border-skin-primary sm:border-0;
  }

  .nav.active::after{
    @apply h-full;
  }

  .burguer{
    @apply w-8 h-full flex-col space-y-[.35rem] cursor-pointer;
  }

  .burguer.active .burguer-line:nth-child(1){
    transform: rotate(45deg) translate(20%, .6rem);
  }
  .burguer.active .burguer-line:nth-child(2){
    transform: translateY(200%);
    opacity: 0;
  }
  .burguer.active .burguer-line:nth-child(3){
    transform: translateY(-200%);
    opacity: 0;
  }
  .burguer.active .burguer-line:nth-child(4){
    transform: rotate(-45deg) translate(19%, -.5rem);
  }

  .burguer-line{
    @apply h-0.5 bg-skin-primary transition-visible-in ease-in-out; 
  }


  /* MENU COMPONENT */
  .menu-list {
    @apply mx-[5%] sm:mr-0 px-3 pb-5 sm:ml-10 sm:p-0 relative flex flex-wrap sm:flex-col sm:space-y-4;
    @apply border-b border-x border-skin-primary sm:border-0;
  }

  .menu-list > li {
    @apply basis-[36%] mt-5 sm:basis-[0%] sm:mt-0 sm:block;
  }  

  .menu-list > li::before {
    content: '';
    @apply absolute -z-10 inset-y-0 bg-green-300 h-full; 
  }
  
  .menu-list-item{
    @apply relative px-3 py-1 transition-color ease-in cursor-pointer  uppercase hover:text-skin-secondary ;
  }

  .menu-list-item::before, 
  .menu-list-item::after {
    content: '';
    @apply transition-visible-in opacity-0 ease-in-out absolute w-[14px] h-[14px];
  }

  .menu-list-item::before {
    content: '';
    transform: translate(-110%, 20%);
    @apply right-0 top-0 border-skin-primary border-t border-r;
  }

  .menu-list-item::after {
    content: '';
    transform: translate(110%, -20%);
    @apply left-0 bottom-0 border-skin-primary border-b border-l;
  }

  .menu-list-item:hover::before,
  .menu-list-item:hover::after {
    @apply opacity-100;
  }

  .menu-list-item:hover::before{
    transform: translate(35%,-35%);
  }

  .menu-list-item:hover::after{
    transform: translate(-35%,35%);
  }

  .menu-item-back {
    @apply absolute -z-10 inset-0 transition-width ease-in w-[2px] h-full bg-skin-primary-sub;
  }

  .menu-list-item:hover .menu-item-back{
    @apply w-full; 
  }

  .menu-list-item.active{
    @apply bg-skin-primary-sub text-skin-secondary; 
  }

  /* HOME COMPONENT */
  .btn-show {
    @apply cursor-default transition-width ease-in inline-flex overflow-hidden w-7 lg:w-8;
  }

  .btn-show.active {
    @apply w-7 lg:w-full; 
  }

  .home-svg-main{
    @apply sm:-ml-4 md:ml-0 pl-0 md:pl-10 lg:pl-24 xl:pl-28 scale-[1.10] sm:scale-[1.5] xl:scale-[1.3]
  }

  .home-svg-main > svg{
    @apply -mr-8 sm:mr-0 h-auto sm:h-[13rem] xl:h-auto;
  }

  .home-text-logo{
    @apply text-6xl sm:text-5xl lg:text-6xl xl:text-7xl;
  }

  .home-type-writer{
    @apply flex items-center;
    @apply mx-auto mt-6 sm:mt-4 sm:mx-0 lg:mt-6 w-[17rem] sm:w-[13.8rem] md:w-[15.5rem] lg:w-[19.7rem] xl:w-[24.3rem] p-1;
  }

  /* ABOUT COMPONENT */
  .about-content{
    @apply space-y-12;
  }

  .about-svg-frame{
    @apply overflow-hidden -z-10;
  }

  .about-svg{
    @apply border-l-0 border-b-0 border border-skin-primary;
    @apply h-[15rem] w-5/6 lg:w-auto lg:h-auto ml-auto mr-0 lg:mr-14 lg:mb-0;
  }

  .about-svg-frame > svg{
    @apply scale-[.65] md:scale-75 lg:scale-95 -mt-10 md:-mt-8 lg:-mt-2 -ml-36 md:-ml-28 lg:-ml-20 xl:-ml-12;
  }

  .about-svg-items {
    @apply absolute -top-3 right-3; 
  }

  .about-box{
    @apply relative;
  }

  .about-box-title{
   @apply absolute -top-5 lg:-top-6 left-0 px-2 bg-skin-primary-sub
  }

  .about-box-list{
    @apply flex items-center flex-wrap border border-skin-primary p-2;
  }

  .about-box-icon{
    @apply border border-dashed border-skin-third m-1 px-1 flex items-center text-base;
  }

  .about-box-icon .bx {
    @apply text-base md:text-lg;
  }

  /* PORTFOLIO COMPONENT */
  .portfolio-nav{
    @apply flex flex-wrap space-x-3 sm:space-x-5 my-4 sm:my-5 lg:my-8 justify-center;
  }

  .portfolio-nav-item{
    @apply relative mb-4 sm:mb-0 px-2 transition ease-in;
  }
  
  .portfolio-nav-item.active{
    box-shadow: 4px 4px 0px 0px var(--color-bg-third);
    @apply bg-skin-primary-sub text-skin-inverted;
  }

  .portfolio-nav-item::before{
    content: '';
    @apply absolute inset-0 -z-10 w-0 transition-width duration-300 ease-in bg-skin-third;
  }

  .portfolio-nav-item:hover{
    @apply cursor-pointer text-skin-inverted;
  }

  .portfolio-nav-item:hover::before{
    @apply w-full;
  }

  .portfolio-box{
    /* flex-flow: column; */
    @apply relative;
  }

  .portfolio-box-img{
    @apply overflow-hidden relative;
  }

  .portfolio-box-img::before{
    content: '';
    @apply absolute inset-0 bg-skin-alpha; 
    @apply w-0 transition-width duration-300 ease-in; 
  }

  .portfolio-box:hover .portfolio-box-img::before {
     @apply w-full;
  }

  .portfolio-box-img > img{
    @apply border border-skin-primary;
  }

  .portfolio-box-text{
    @apply border-x bg-skin-secondary border-b border-t-0 border-skin-primary p-2 space-y-1;
  }

  .portfolio-more{
    @apply absolute flex inset-0;
  }

  .portfolio-more-btn {
    @apply m-auto btn bg-skin-primary text-skin-inverted -translate-x-[230%] opacity-0;
    @apply transition-visible-in ease-in;
  }

  .portfolio-box:hover .portfolio-more-btn {
    @apply translate-x-0 opacity-100; 
  }

  .portfolio-icons {
    @apply absolute top-0 right-0 flex flex-col space-y-1;
  }

  .portfolio-icons-btn{
    @apply bg-skin-secondary px-1 border border-skin-primary;
  }

  .portfolio-modal-bg{
    /* @apply fixed z-[100] inset-0 bg-skin-black flex; */
    @apply fixed z-[100] inset-0 bg-transparent flex pointer-events-none transition ease-in-out opacity-0;
  }

  .portfolio-modal-bg.active{
    @apply bg-skin-black opacity-100 pointer-events-auto;
  }

  .portfolio-modal{
    @apply relative m-auto;
  }

  .portfolio-modal-buttons {
    @apply absolute top-[45%] -inset-x-5 flex justify-between; 
  }

  .portfolio-modal-btn{
    @apply bg-skin-secondary border border-skin-primary px-2 py-1 text-xl; 
  }
}

@layer utilities {

  .transition-opacity{
    transition: opacity .5s .8s;
  }

  .transition-back-color{
    transition: background-color .3s;
  }

  .transition-color {
    transition: color .3s;
  }

  .transition-height{
    transition: height .3s;
  }

  .transition-width{
    transition: width .3s;
  }

  .transition-visible-in{
    transition: transform .4s, opacity .2s;
  }

  .transition-visible-out{
    transition: transform 3s .3s, opacity .5s .3s;
  }

  .transition-width {
    transition-property: width;
  }

  .transition-menu {
    transition: transform .3s, opacity .1s;
  }
}
